* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    width: 90vw;
    margin: auto;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho img {
    height: 72px;
    border-radius: 40px;
}

.cabecalho nav {
    display: flex;
    gap: 40px;
}

.cabecalho nav a {
    color: black;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid black;
    margin-bottom: 40px;
}

.conteudo-saudacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

.conteudo-saudacao-texto {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.conteudo-saudacao-titulo {
    font-size: 4.5em;
}

.conteudo-saudacao-paragrafo {
    font-size: 1.2em;
    text-align: justify;
}

.conteudo-saudacao-imagem {
    height: 400px;
}

.conteudo-blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
}