* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    width: 90vw;
    margin: auto;
    background-color: #f5e4d3;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #635348;
}

.cabecalho img {
    height: 72px;
    border-radius: 40px;
}

.cabecalho nav {
    display: flex;
    gap: 40px;
}

.cabecalho nav a {
    color: black;
    font-size: 22px;
    color: #DAC0A7;
}

.cabecalho nav a:hover {
    color: #e67e22;
}

.conteudo {
    margin-bottom: 40px;
}

.conteudo-saudacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: #635348;
}

.conteudo-saudacao-texto {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #DAC0A7;
}
.conteudo-saudacao-titulo {
    font-size: 4.5em;
}

.conteudo-saudacao-paragrafo {
    font-size: 1.2em;
    text-align: justify;
}

.conteudo-saudacao-imagem {
    height: 400px;
}

.conteudo-blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #DAC0A7;
}

.post {
    padding: 15px;
    border-bottom: 0.2px solid #635348;
    margin: 10px;
}

.conteudo-blog-titulo-container {
    text-align: center;
}

.conteudo-blog-titulo {
    width: 90%;
    text-align: initial;
    display: inline-block;
    color: #524942;
    font-size: 2.5em;
    padding: 20px 0px 30px 30px;
    border-bottom: 0.4px solid #524942;   
}

.user {
    font-size: 1.3em;
}

.email {
    font-size: 0.8em;
    display: block;
    padding: 5px 0px 10px 0px;
}

.conteudoBlogPost p {
    padding: 15px;
}

.comentarioLink {
    display: block;
    margin-top: 10px;
    color: #e67e22;
    cursor: pointer;
}

.comentarioLink:hover {
    text-decoration: underline;
}
