* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-size: 16px;
    width: 90vw;
    margin: auto;
    background-color: #f5e4d3;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #745f51;
}

.cabecalho-logo {
    height: 72px;
    border-radius: 40px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item {
    color: black;
    font-size: 22px;
    color: #DAC0A7;
}

.cabecalho-menu-item:hover {
    color: #e67e22;
}

.conteudo-saudacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: #745f51;
}

.conteudo-saudacao-texto {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #DAC0A7;
}
.conteudo-saudacao-titulo {
    font-size: 4.5em;
}

.conteudo-saudacao-paragrafo {
    font-size: 1.2em;
    text-align: justify;
}

.conteudo-saudacao-imagem {
    max-height: 400px;
    height: auto;
}

@media (max-width: 750px) {
    .conteudo-saudacao {
        flex-direction: column;
        gap: 20px;
    }

    .conteudo-saudacao-texto {
        width: 60%;
    }
}
.conteudo-posts {
    background-color: #DAC0A7;
}

.conteudo-posts-titulo-container, .sobre-mim-titulo-container {
    text-align: center;
}

.conteudo-posts-titulo {
    width: 90%;
    text-align: initial;
    display: inline-block;
    color: #745f51;
    font-size: 2.5em;
    padding: 20px 0px 20px 0px;
    border-bottom: 0.4px solid #524942;   
}

.post {
    padding: 15px;
    border-bottom: 0.2px solid #635348;
    margin: 20px 10px;
}

.post:last-child {
    border-bottom: none;
    margin: 20px 10px 0px 10px;
}

.user {
    font-size: 1.3em;
}

.email {
    font-size: 0.8em;
    color: #635348;
    display: block;
    padding: 5px 0px 10px 0px;
}

.body {
    padding: 10px;
}

.comentarioLink {
    width: 10%;
    display: block;
    margin-top: 10px;
    color: #e67e22;
    cursor: pointer;
}

.comentarioLink:hover {
    text-decoration: underline;
}

.sobre-mim {
    background-color: #745F51;
}

.sobre-mim-titulo {
    width: 90%;
    text-align: initial;
    display: inline-block;
    font-size: 2.5em;
    color: #DAC0A7;
    padding: 20px 0px 20px 0px;
    border-bottom: 0.4px solid #DAC0A7;   
}

.sobre-mim-paragrafo {
    width: 90%;
    margin: auto;
    text-align: center;
    color: #DAC0A7;
    text-align: justify;
    padding: 30px 0px;
}